* {
	box-sizing: border-box;
}
a{
	text-decoration: none;
}
header h1 {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	color: gray;
}
header > ul {
	padding: 0;
	display: flex;
	justify-content: end;
	list-style: none;
	gap: 1em;
	align-content: space-between;
}
footer {
	text-align: center;
}
main {
	display: flex;
	flex-wrap: wrap-reverse; 
	justify-content: space-between;
	align-items: start;
}
#sidebar {
	flex: 1;
	min-width: min(100%, 10em);
	display: flex;
	flex-wrap: wrap;
	gap: 2px;
	justify-content: space-between;
	padding: 1em;
}
#sidebar > *{
	flex: 1;
}
#sidebar > button {
	background-color: gray;
	color: white;
}
#content {
	flex: 1000;
	min-width: min(100%, 40em);
	font-family: "Monospace";
}

#content h1{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
	font-size: 2em;
	color: #24292f;
	border-bottom: 1px solid #d8dee4;
	padding-bottom: .3em;
}

#content pre {
	padding: 1em;
	line-height: 1.45;
	border-radius: 6px;
	background-color: #f6f8fa;
	font-size: 1em;
	font-family: ui-monospace,SFMono-Regular,"SF Mono",Menlo,Consolas,"Liberation Mono",monospace;
}

.quote {
	text-align: center;
}
.quote-content {
	font-size: 2em;
}
.quote-author {
	font-size: 1.3em;
}
.quote-author::before {
	content: "--- ";
}

/*******logo***********/
#logo {
	width: max(10vw, 10em);
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(4, 1fr);
}
#logo > img {
	grid-row: 1 / -1 ;
	grid-column: 1 / -1;
	width: 100%;
	height: 100%;
	object-fit: contain;
	transform: rotate(-30deg);
	z-index: -1;
}
#logo > span {
	font-size: 4vw;
	mix-blend-mode:overlay;
}
#logo > span:nth-child(1) {
	grid-row: 2;
	grid-column: 1;
}
#logo > span:nth-child(2) {
	grid-row: 2;
	grid-column: 2;
}
#logo > span:nth-child(3) {
	grid-row: 2;
	grid-column: 3;
}
#logo > span:nth-child(4) {
	grid-row: 2;
	grid-column: 4;
}
/* X */
#logo > span:nth-child(5) {
	grid-row: 2;
	grid-column: 5;
	color:red;
}
#logo > span:nth-child(6) {
	grid-row: 1;
	grid-column: 5;
}
/* X */
#logo > span:nth-child(7) {
	grid-row: 2;
	grid-column: 5;
	color:red;
}
#logo > span:nth-child(8) {
	grid-row: 3;
	grid-column: 5;
}
#logo > span:nth-child(9) {
	grid-row: 4;
	grid-column: 5;
}